@import 'base/null';
@import 'base/variables';
@import 'base/mixins';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Rubik:wght@400;500;700&display=swap');
@import 'libs/font-icon';

* {
    font-family: 'Rubik', 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: $bg-color;
    font-size: 18px;
    color: $fz-color;
    &.lock {
        overflow: hidden;
    }
}

.container {
    width: 1200px;
    margin: 0 auto;
}


@import 'blocks/header';
@import 'blocks/btn';
@import 'blocks/footer';
@import 'blocks/banner';
@import 'blocks/about';
@import 'blocks/title';
@import 'blocks/products';
@import 'blocks/earn';
@import 'blocks/invest';
@import 'blocks/statistic';
@import 'blocks/table';
@import 'blocks/subscribe';
@import 'blocks/preloader';

@import 'blocks/media';